html {
  display: flex;
  margin: 0;
  height: 100%;
  overflow: hidden;
}
body {
  flex: 1;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
}

.greeting {
  display: flex;
  font-size: 2rem;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}
.greeting img {
  height: 100px;
  border-radius: 100%;
  border: 1px solid;
}
.submit {
  background-color: #009688;
  color: white;
  border: 1px solid black;
  padding: 10px;
  font-size: 1.3rem;
  align-self: flex-end;
  border-radius: 5px;
  margin-top: 10px;
  opacity: 0.75;
}
.submit:hover {
  cursor: pointer;
  opacity: 1;
}
.submit:active {
  opacity: 0.85;
}
.control_button {
  background-color: #009688;
  color: white;
  border: 1px solid black;
  padding: 10px;
  font-size: 0.7rem;
  text-align: center;
  border-radius: 5px;
  margin-top: 10px;
  opacity: 0.75;
  height: 1rem;
  width: 2.5rem;
}
.control_button:hover {
  cursor: pointer;
  opacity: 1;
}
.control_button:active {
  opacity: 0.85;
}

#loginMsg {
  flex: 1;
  display: flex;
  text-align: left;
  justify-content: center;
  align-items: center;
}

webview {
  flex: 1;
}

.app {
  display: flex;
  position: absolute;
  left: 25%;
  top: 25%;
  width: 50%;
  height: 50%;
  padding: 6px;
  margin-top: -6px; /* offset padding */
  margin-left: -6px; /* offset padding */
  resize: both;
  overflow: hidden;
}
.wrapper {
  padding: 10px;
  display: flex;
  flex-direction: column;
  position: relative; /* to hide dock. absolute gets weird. */
  flex: 1;
  box-shadow:  0 0 7px 4px rgba(0,0,0,0.5);
}

.admin {
  color: #E91E63;
}
.admin-bg {
  background-color: #E91E63;
}
.admin-border {
  border-color: #E91E63;
}
.editor {
  color: #FF9800;
}
.editor-bg {
  background-color: #FF9800;
}
.editor-border {
  border-color: #FF9800;
}
.viewer {
  color: #009688;
}
.viewer-bg {
  background-color: #009688;
}
.viewer-border {
  border-color: #009688;
}

#dockWrapper {
  position: fixed;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 999;
}
.dock,
.options,
#login {
  list-style-type: none;
  background-color: rgba(255,255,255, 0.5);
  padding: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 4px solid white;
  text-align: center;
  box-shadow:  0 0 7px 4px rgba(0,0,0,0.5);
}
#login {
  margin: auto;
  padding: 15px;
  border-radius: 5px;
  text-align: left;
  background-color: rgba(255,255,255, 0.95);
}
.form-group {
  margin: 10px;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}
.form-group label {
  width: 100px;
  text-align: right;
  margin-right: 10px;
}
.form-group input {
  padding: 0  10px;
  font-size: 1.5rem;
}
.dock li {
  width: 105px;
  height: 105px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.dock {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.optionsWrapper {
  display: flex;
  border-bottom: 3px solid white;
}
.optionsWrapper:last-child {
  border: none;
}
.options {
  visibility: hidden;
  position: absolute;
  right: 113px;
  background-color: rgba(0,0,0, 0.85);
  border-color: black;
  display: flex;
  height: 105px;
  align-items: center;
  justify-content: center;
}
.options::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%; /* To the right of the tooltip */
  margin-top: -15px;
  border-width: 15px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}

.icon-pair {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}

.circle-bg {
  padding: 5px;
  margin: 10px;
  /* background-color: #3E2723; */
  border-radius: 100%;
  border: 3px solid;
  opacity: 0.5;
}
.circle-bg:hover {
  opacity: 1.0;
  cursor: pointer;
}
.circle-bg:active {
  opacity: 0.75;
}

.subicon {
  margin-top: 5px;
}
.minimizedWrapper {
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  right: 76px;
  margin-top: -4px;
}
.minimizedActuator {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid black;
  align-self: flex-start;
  background-color: black;
}
.minimized {
  overflow-x: auto;
  font-size: 3rem;
  align-self: stretch;
  margin-right: -76px;
  background-color: black;
}
.count {
  font-weight: bold;
  font-size: 1.3rem;
}
.count::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 38px;
  margin-top: -18px;
  border-width: 18px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
.min-mark-wrapper {
  width: 105px;
  height: 105px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  border: 4px solid;
  border-left: 2px solid;
  border-right: 2px solid;
}
.min-mark-wrapper:hover {
  cursor: pointer;
  opacity: 1;
}
.min-mark-wrapper:active {
  opacity: 0.75;
}

/* App windows */
.win-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 10px 10px;
}
.win-ctrl {
  margin-left: 10px;
  padding: 10px;
  /* border-radius: 100%; */
  opacity: 0.5;
}
.win-ctrl:hover {
  cursor: pointer;
  background-color: rgba(255,255,255, 0.5);
  opacity: 1;
}
.win-ctrl:active {
  opacity: 0.75;
}
.win-close:hover {
  background-color: #E91E63;
  color: white;
  font-size: 1.5rem;
  padding: 5px 6px;
  border: 1px solid rgba(0,0,0,0.15);
}
