*.pyc
*~
*.o
*.ko
*.swp
*.bin
*.iso
*.img
*.log
*.bak
tags
GPATH
GSYMS
GTAGS
TAGS
id_rsa
id_rsa.pub
meta-data
user-data
excalibur/conf/*
excalibur/venv/*
excalibur/ssl/*
excalibur/website/sqlite.db
kernel-source
artful-server-cloudimg-amd64.img
lsm
tests/setup/excalibur_ip
transducers/listener.deb
transducers/listener/opt/heartbeatlistener/keys
transducers/listener/opt/heartbeatlistener/listener.py
gaius/gaius/rethinkdb_data
valor/gaius/bak
valor/gaius/dev
