@version: 3.14
@module mod-java
@include "scl.conf"


source s_local { systemd-journal(); internal(); };

destination d_file { file("/var/log/syslog-ng-msg"); };

destination d_elastic {
    elasticsearch2(
        client-lib-dir("/etc/syslog-ng/jars/")
        index("syslog-${YEAR}.${MONTH}.${DAY}")
        type("syslog")
        time-zone("UTC")
        client-mode("https")
        cluster("docker-cluster")
        cluster-url("%s")
        java_keystore_filepath("/etc/syslog-ng/kirk-keystore.jks")
        java_keystore_password("changeit")
        java_truststore_filepath("/etc/syslog-ng/truststore.jks")
        java_truststore_password("changeit")
        http_auth_type("clientcert")
        resource("/etc/syslog-ng/elasticsearch.yml")
        template("$(format-json --scope rfc3164 --scope nv-pairs --exclude DATE @timestamp=${ISODATE} @virtue_ip=${HOST})")
    );
};

destination d_network { syslog("%s" transport("tcp") template("${S_ISODATE} ${HOST} ${MESSAGE}")); };


parser message_parser {
    kv-parser(value-separator(":"));
};    

parser transducer_controller {
    transducer_controller(
            socket("/var/run/receiver_to_filter")
    );
};

filter remove_self_reports {
    not (match("syslog-ng" value("ProcName")) or
    match("syslog-ng" value("ParentName")));
};

filter remove_merlin_reports {
    not match("/var/run/receiver_to_filter" value("Addr"));
};

log { 
    source(s_local); 
    filter { match("kernel" value("PROGRAM")) or match("winesrv" value("PROGRAM")) };
    parser(message_parser);
    parser(transducer_controller);
    filter(remove_self_reports);
    filter(remove_merlin_reports);
    destination(d_file);
    destination(d_elastic);
    destination(d_network);
};

log {
    source(s_local);
    filter{ facility(auth); };

    junction {
        channel {
            filter(apparmor_logs);
            parser(apparmor_parser);
            flags(final);
        };
        channel {
            flags(final);
        };
    };

    destination(d_file);
    destination(d_elastic);
    destination(d_network);
};