<h1 class="h2">Valors Dashboard</h1>
<tr>
  <td width="290px" align="center">
    <!--ngx-charts-line-chart
      [view]="lineView"
      [scheme]="lineColorScheme"
      [results]="lineData"
      [gradient]="lineGradient"
      [xAxis]="lineShowXAxis"
      [yAxis]="lineShowYAxis"
      [legend]="lineShowLegend"
      [showXAxisLabel]="lineShowXAxisLabel"
      [showYAxisLabel]="lineShowYAxisLabel"
      [xAxisLabel]="lineXAxisLabel"
      [yAxisLabel]="lineYAxisLabel"
      [autoScale]="autoScale"
      (select)="onSelect($event)">
    </ngx-charts-line-chart-->
  </td>
  <td width="290px" align="center">
    <ngx-charts-bar-vertical
      [view]="barView"
      [scheme]="barColorScheme"
      [results]="barData"
      [gradient]="barGradient"
      [xAxis]="barShowXAxis"
      [yAxis]="barShowYAxis"
      [legend]="barShowLegend"
      [showXAxisLabel]="barShowXAxisLabel"
      [showYAxisLabel]="barShowYAxisLabel"
      [xAxisLabel]="barXAxisLabel"
      [yAxisLabel]="barYAxisLabel"
      (select)="onSelect($event)">
    </ngx-charts-bar-vertical>
  </td>
</tr>
<!--ngx-charts-linear-gauge
  [view]="gaugeView"
  [scheme]="gaugeColorScheme"
  [value]="gaugeValue"
  [previousValue]="gaugePreviousValue"
  [units]="gaugeUnits">
</ngx-charts-linear-gauge-->


<p-table [value]="tableData" [columns]="cols" dataKey="id">
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 3em"></th>
      <th *ngFor="let col of cols">
        {{col.header}}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
    <tr>
      <td>
        <a href="#" [pRowToggler]="rowData">
          <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
        </a>
      </td>
      <td *ngFor="let col of columns">
        {{rowData[col.field]}}
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
    <tr>
      <td [attr.colspan]="cols.length + 1">
        <div class="ui-g ui-fluid" style="font-size:12px;padding:20px">
          <div class="ui-g-12 ui-md-3" style="text-align:center">
            <b>Virtues:</b>
          </div>
          <td *ngFor="let virtue of rowData['virtues']">
            <div class="ui-g-12">
              {{virtue}}
            </div>
          </td>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
