[Unit]
Description=processkiller service
After=network.target

[Service]
User=root
ExecStart=/usr/bin/python opt/processkiller/processkiller.py > /opt/processkiller/processkiller-initd.log 2>&1

[Install]
WantedBy=multi-user.target
