[Unit]
After=network.target

[Service]
ExecStart=/etc/init.d/processkiller start
ExecStop=/etc/init.d/processkiller stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
