# Requirements for galahad flask server

Werkzeug==0.14.1
cachelib
flask
flask_sqlalchemy
python_ldap == 2.5.2
authlib
wtforms
flask_wtf
boto
boto3
Authlib
configparser==3.5.0
gnureadline==6.3.8
pycryptodome==3.5.1
rethinkdb==2.3.0.post6
pyyaml==3.13
pyOpenSSL==18.0.0
elasticsearch==5.4.0
requests==2.18.1
enum==0.4.6
urllib3==1.21.1
awscli
pexpect
