[Unit]
After=network.target

[Service]
ExecStart=/etc/init.d/merlin start
ExecStop=/etc/init.d/merlin stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
