[Unit]
Description=merlin service
After=multi-user.target

[Service]
User=merlin
ExecStart=/opt/merlin/start_merlin.sh
PermissionsStartOnly=true
ExecStartPre=/bin/chown root:camelot /dev/netblockchar
ExecStartPre=/bin/chmod 660 /dev/netblockchar

[Install]
WantedBy=multi-user.target
