<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Galahad Status</a>
  <!--<input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">-->
  <!--<ul class="navbar-nav px-3">-->
    <!--<li class="nav-item text-nowrap">-->
      <!--<a class="nav-link" href="#">Sign out</a>-->
    <!--</li>-->
  <!--</ul>-->
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="d-none d-md-block sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
        <div class="content">
          <p-menu [model]="menuItems"></p-menu>
        </div>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <div class="dashboard-container">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>
