Email-Address: kyle.stapp@starlab.io
License: blank
Version: 1.0
Date: Fri, 08 Dec 2017 16:32:40 -0500
Section: Python
Package: virtue-excalibur
Architecture: all
Maintainer: @starlab
Priority : optional
Depends: python, python-boto3, python-webpy
Description: Excalibur Webservice
